 .u-section-1 {
  min-height: 1637px;
}

.u-section-1 .u-rotation-parent-1 {
  width: 264px;
  height: 392px;
  margin: 0 auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-image-1 {
  width: 392px;
  height: 264px;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 572px;
  margin: -391px calc(((100% - 1140px) / 2) + 256px) 0 auto;
}

.u-section-1 .u-rotation-parent-2 {
  width: 280px;
  height: 420px;
  margin: -160px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-image-3 {
  width: 420px;
  height: 280px;
}

.u-section-1 .u-rotation-parent-3 {
  width: 268px;
  height: 494px;
  margin: -817px calc(((100% - 1140px) / 2) + -33px) 0 auto;
}

.u-section-1 .u-image-4 {
  width: 494px;
  height: 268px;
}

.u-section-1 .u-image-5 {
  width: 570px;
  height: 606px;
  margin: 72px auto 0 calc(((100% - 1140px) / 2) + 285px);
}

.u-section-1 .u-image-6 {
  width: 320px;
  height: 308px;
  margin: -423px 0 60px auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1638px;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-left: calc(((100% - 1140px) / 2) + 200px);
  }

  .u-section-1 .u-rotation-parent-2 {
    margin-top: -317px;
    margin-left: calc(((100% - 1140px) / 2) + 306px);
  }

  .u-section-1 .u-rotation-parent-3 {
    height: 495px;
    margin-right: calc(((100% - 1140px) / 2) + 200px);
  }

  .u-section-1 .u-image-4 {
    width: 495px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-rotation-parent-1 {
    margin-left: calc(((100% - 1140px) / 2) + 420px);
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 1140px) / 2) + 150px);
  }

  .u-section-1 .u-rotation-parent-2 {
    margin-right: calc(((100% - 1140px) / 2) + 334px);
    margin-left: auto;
  }

  .u-section-1 .u-rotation-parent-3 {
    margin-right: calc(((100% - 1140px) / 2) + 420px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1576px;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-right: calc(((100% - 1140px) / 2) + 407px);
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 542px;
    margin-right: calc(((100% - 1140px) / 2) + 90px);
  }

  .u-section-1 .u-rotation-parent-2 {
    margin-top: -130px;
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-rotation-parent-3 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 362px);
  }

  .u-section-1 .u-image-5 {
    width: 540px;
    height: 574px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-6 {
    margin-top: -391px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1162px;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 341px;
    margin-right: calc(((100% - 1140px) / 2) + 283px);
  }

  .u-section-1 .u-rotation-parent-2 {
    margin-top: 71px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-rotation-parent-3 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 361px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-6 {
    margin-top: -178px;
  }
}